/*@import url(https://fonts.googleapis.com/css?family=Indie+Flower);*/
body{
	font-family: 'Indie Flower', cursive;
	font-size: 1.2em;
	/*background-image: url(../img/fondo1.jpg);*/
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#titulo{
	font-size: 1.5em;
	font-weight: bolder;
	text-shadow: 3px 1px 2px #000;
}

#tarea{
	width: 70%;
	border-radius: 5px;
	font-family: 'Indie Flower', cursive;
	font-size: 1em;
	padding-left: .5em;
	border: 0;
	box-shadow: inset 0 0 8px  rgba(0,0,0,0.1), 0 0 6px #000; 
	background: rgba(255,255,255,0.5);
	margin-top: 2em;
}


.terminado{
	text-decoration: line-through;
	color: red;
	text-shadow: 2px .5px 2px #000;
}

/*tabla*/
#tabint{
	margin-top: 2em;
}
#tabint table{
	width: 56%;
	background-size: cover;
	border-radius: 0px;
	border: solid 1px #238276;
	box-shadow: 0 0 10px #333;
	margin: 10px;
	font-weight: bolder;
}

#tabint table tbody tr td,#tabint table tbody tr th{
	transition: all 400ms ease-in;
	-webkit-transition: all 400ms ease-in;
	-moz-transition: all 400ms ease-in;
	-o-transition: all 400ms ease-in;
	-ms-transition: all 400ms ease-in;
	text-align: center;
	word-wrap: break-word;
	border: solid 0px #fff;
	border-bottom: solid 1px #fff;
	border-top: solid 1px #f1f1f1;
	border-right: solid 1px #f1f1f1;
}
#tabint table tbody tr td:nth-child(odd){
	background-color: #fff;
}
#tabint table tbody tr td:nth-child(even){
	background-color: #fafafa;
}
#tabint table tbody tr:hover td:nth-child(odd),
#tabint table tbody tr:hover td:nth-child(even){
	background: rgb(169,219,128);
background: -moz-linear-gradient(top,  rgba(169,219,128,1) 0%, rgba(150,197,111,1) 100%);
background: -webkit-linear-gradient(top,  rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%);
background: linear-gradient(to bottom,  rgba(169,219,128,1) 0%,rgba(150,197,111,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=0 );

	opacity: 0.9;
}
th{
	background: background: rgb(169,228,247);
background: -moz-linear-gradient(top,  rgba(169,228,247,1) 0%, rgba(15,180,231,1) 100%);
background: -webkit-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%);
background: linear-gradient(to bottom,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 );



}

img{
	height: 1.3em;
	width: 1.3em;
}